<script>
function search() {
    var searchValue = document.getElementById("search").value;
    window.location.href = "/search?pokeid=" + searchValue;
}
</script>
<div class="jumbotron">
  <h2>Welcome to the pokemon world!</h2>
</div>

<div class="row marketing">
  <div class="col-lg-6">
  <h2>Search for a pokemon!</h2>
    <input type="text" id="search"><button onclick="search()">search</button>
  </div>
</div>
